.gitignore
chapter_05/cars.py
chapter_05/toppings.py
chapter_05/banned_users.py
chapter_05/amusement_park.py
chapter_05/voting.py
chapter_06/alien_no_points.py
chapter_06/alien.py
chapter_06/favorite_languages.py
chapter_06/aliens_list_of_dictionaries.py
chapter_06/user.py
chapter_06/favorite_languages2.py
chapter_07/parrot.py
chapter_07/greeter.py
chapter_07/rollercoaster.py
chapter_07/even_or_odd.py
chapter_07/counting.py
chapter_07/cities.py
chapter_07/confirmed_users.py
chapter_07/pets.py
chapter_07/mountain_poll.py
chapter_08/greeter.py
chapter_08/pets.py
chapter_08/formatted_name.py
chapter_08/greet_users.py
chapter_08/printing_models.py
chapter_08/pizza.py
chapter_08/making_pizzas.py
chapter_08/__pycache__/
chapter_09/dog.py
chapter_09/car.py
chapter_09/electric_car.py
chapter_09/__pycache__
chapter_09/my_car.py
chapter_09/my_electric_car.py
chapter_09/9-8_alt.py
chapter_09/my_cars.py
chapter_10/file_reader.py
chapter_10/pi_digits.txt
chapter_10/pi_birthday.py
chapter_10/pi_million_digits.txt
chapter_10/division_calculator.py
chapter_10/write_message.py
chapter_10/programming.txt
chapter_10/alice.py
chapter_10/number_writer.py
numbers.json
chapter_10/number_reader.py
chapter_10/remember_me.py
username.json
chapter_11/__pycache__
chapter_11/.pytest_cache
chapter_12/__pycache__
chapter_13/__pycache__
*.json
chapter_14/__pycache__
chapter_15/mpl_squares.py
chapter_15/rw_visual.py
chapter_15/scatter_squares.py
chapter_15/__pycache__
chapter_15/die_visual.py
chapter_15/dice_visual.py
dice_visual.html
test.py
15-6 Chart.html
15-7 Chart.html
15-8 Chart.html
random_walk.html
weather_data/
chapter_16/sitka_highs_lows.py
chapter_16/sitka_highs.py
chapter_16/death_valley_highs_lows.py
chapter_16/eq_data_1_day_m1.geojson
chapter_16/eq_explore_data.py
chapter_16/readable_eq_data.geojson
chapter_16/eq_data_30_day_m1.geojson
chapter_17/python_repos.py
chapter_17/python_repos_visual.py
chapter_17/hn_article.py
chapter_17/hn_submissions.py
chapter_17/__pycache__/python_repos_for_test.cpython-312-pytest-8.1.1.pyc
chapter_17/__pycache__/python_repos_for_test.cpython-312.pyc
chapter_17/__pycache__/test_name_function.cpython-312-pytest-8.1.1.pyc
